/.pki/
/.usermin/
/.gnome2/
/.mozilla/
/cgi-bin/
/etc/
/fcgi-bin/
/homes/
/domains/
/default/
/error_docs/
/logs/
/Maildir/
/tmp/
nbproject/
/protected/runtime/
/var/
/.BAK/
/.revisium_antivirus_cache/
/.rs/
.idea/
.cache/
.cache*
*cache
cache/
bak/
/.bash_logout
/.bash_profile
/.bashrc
/.virtualmin-src
/.git-ftp.log
/ssl.cert
/ssl.key
/ssl.combined
/ssl.everything
/ssl.ca
/nginx.conf
/node_modules
/public/hot
/public/storage
/public/_theme/
/storage/*.key
/vendor
/.vagrant
/.remote
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.pinkseo.marketing
.env.webforyou.tv
